#!/bin/rc
# Demonstrates a basic use of bankfs

rm -r dumps bankfs.ndb
mk nuke
mk

6.out -u $user -g $user

# Create a backup file
echo dump nil >> /mnt/bankfs/ctl

# Create account under 'seh' with pin '1234'
echo mkacct 1234 seh >> /mnt/bankfs/banks/0/ctl

# Forcibly transfer $100 from the reserve 0/0 account to seh's account
echo trans 0 0 0 1 100 >> /mnt/bankfs/ctl

# Use seh's PIN to transfer $25 from seh's account to the reserve 0/0 account
echo atrans 1 0 0 25 1234 ducks >> /mnt/bankfs/banks/0/ctl

# Create another backup file, forcing the old one into the ./dumps/ folder
echo dump nil >> /mnt/bankfs/ctl

ll dumps
cat bankfs.ndb
